
._input-small {
    width: 80px; /* Ширина поля */
    height: 15px; /* Высота поля */
    margin: 5px;
    text-align: center;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
}

.counter_set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rebeccapurple; /* Толщина, стиль и цвет рамки */
    border-radius: 5px;
    padding: 10px; /* Внутренний отступ вокруг содержимого div */
    width: 180px; /* Ширина div */
    margin: 5px;
}

.counter_input {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rebeccapurple; /* Толщина, стиль и цвет рамки */
    border-radius: 5px;
    padding: 10px; /* Внутренний отступ вокруг содержимого div */
    width: 180px; /* Ширина div */
    margin: 5px;
}

.counter_output {
    font-size: 50px;
    font-weight: bold;
    color: rgb(116, 7, 7);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rebeccapurple; /* Толщина, стиль и цвет рамки */
    border-radius: 5px;
    padding: 10px; /* Внутренний отступ вокруг содержимого div */
    width: 180px; /* Ширина div */
    margin: 5px;
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 2px solid rebeccapurple; /* Толщина, стиль и цвет рамки */
    border-radius: 5px;
    padding: 10px; /* Внутренний отступ вокруг содержимого div */
    width: 200px; /* Ширина div */
    margin: 10px;
}

.right_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 2px solid rebeccapurple; /* Толщина, стиль и цвет рамки */
    border-radius: 5px;
    padding: 8px 10px; /* Внутренний отступ вокруг содержимого div */
    width: 200px; /* Ширина div */
    margin: 10px;
}

.control__btn {
    margin-right: 20px;
/*  font-size: 20px;*/
/*  padding: 10px 20px;*/
/*  background-color: transparent;*/
/*  color: rgb(16, 0, 54);*/
/*  border: 1px solid rgb(16, 0, 54);*/
/*  cursor: pointer;*/
/*  transition: 0.2s ease-in-out;*/
}

/*.control__btn:hover {*/
/*  background-color: rgb(16, 0, 54);*/
/*  color: rgb(255, 255, 255);*/
/*  border: 1px solid rgb(16, 0, 54);*/
/*}*/

.reset {
    margin-left: 20px;
/*  width: 100px;*/
/*  font-size: 18px;*/
/*  padding: 10px 20px;*/
/*  background-color: transparent;*/
/*  color: rgb(16, 0, 54);*/
/*  border: 1px solid rgb(16, 0, 54);*/
/*  cursor: pointer;*/
/*  transition: 0.2s ease-in-out;*/
}

/*.reset:hover {*/
/*  background-color: rgb(16, 0, 54);*/
/*  color: rgb(255, 255, 255);*/
/*  border: 1px solid rgb(16, 0, 54);*/
/*}*/
